/* Обёртка для центрирования всего блока */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* вся высота экрана */
}

/* Твой блок */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  box-shadow: 
    0 0 10px #00000080,   
    0 0 20px rgba(10, 10, 12, 0.7), 
    0 0 30px rgba(9, 9, 10, 0.5);
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background: white;
}

/* Заголовки */
.header-text h1 {
  margin-bottom: 10px;
}

.header-text p {
  margin: 0;
  font-size: 18px;
}

/* Кнопка */
.header-btn {
  margin-top: 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.header-btn:hover {
  background-color: darkblue;
}
